<div class="photo full" style="background-image:url({{photoData}});background-position:{{focus}}"></div>
<div data-mark="photo" style="position:absolute;left:6%;top:6%;width:88%;height:88%"></div>
<div class="scrim" style="background:linear-gradient({{scrimAngle}}deg, {{bg}} 0%, {{bg}}f2 30%, {{bg}}a0 52%, transparent 74%)"></div>
<div class="{{headClass}}" data-mark="headline" data-effect="{{effect}}" data-max-h="{{headMaxH}}" data-center="{{headCenter}}" style="top:{{headTop}}%;{{headPos}}">{{headLines}}</div>
